header,
nav,
footer {
  width: 100%;
  margin: auto;
}

.container {
  max-width: 75rem;
  margin: auto;
}

main {
  max-width: 75rem;
  margin: auto;
}

nav ul {
  padding-left: $gutter;
}
nav li {
  width: auto;
}
nav a {
  padding: 0.5rem 1rem;
}

main figure {
  width: 33%;
}

div.news {
  column-count: 3;
}
