/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  nav {
    background: #ff3232; /* Old browsers */
    background: -moz-linear-gradient(top, #9e0000 0%, #b70000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9e0000 0%, #b70000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9e0000 0%, #b70000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0000', endColorstr='#b70000',GradientType=0 ); /* IE6-9 */
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.8rem 1rem;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  /* GRID */

  div.parent-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .lead {
    grid-column: 1 / span 3;
  }

  .parent-grid span {
    font-size: 1rem;
  }
} /*end medium */
