/*----------- BODY --------------*/

/*----------- HEADER --------------*/

#headerWrapper {
  background-image: url('../images/tagged/header-medium.jpg');
  height: 240px;
}

header {
  h1 {
    font-size: 2rem;
    padding: 2rem 2vw;
  }
}

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

main {
  .card-deck {
    .card {
      flex-basis: 48%;
    }
  }
}

/*----------- FOOTER --------------*/
