/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

/*----------- TOPBAR --------------*/

#topbarWrapper {
  background-color: black;
}

div.topbar {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2vw;
}

/*----------- NAVIGATION --------------*/

$nav-background: #2f4939;

#navWrapper {
  background-color: $nav-background;
}

nav {
  padding: 0 2vw;

  button {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  button:hover {
    background-color: darken($nav-background, 10%);
  }

  ul {
    display: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  ul.open {
    display: block;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav ul li a {
  display: block;
  color: #eee;
  padding: 0.9rem 2vw;
  text-decoration: none;
  font-size: 0.9rem;
}
nav ul li:first-child a {
  border-left: none;
}
nav ul li.active a {
  background-color: darken($nav-background, 5%);
}
nav ul li a:hover {
  background-color: darken($nav-background, 5%);
}

/*----------- HEADER --------------*/

#headerWrapper {
  background-image: url('../images/tagged/header-small.jpg');
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  h1 {
    padding: 1rem 2vw;
    margin: 0;
    font-size: 1.6rem;
    color: white;
  }
}

/*----------- MAIN --------------*/

#mainWrapper {
  background-color: white;
}

main {
  background-color: white;
  padding: 0 2vw;
  min-height: 10rem;
  padding-bottom: 1rem;

  h1 {
    margin: 0;
    padding-top: 1rem;
  }

  $card-border-radius: 10px;
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
    position: relative;
    .card {
      flex-basis: 100%;
      border: 1px solid #999;
      background-color: rgb(206, 210, 206);
      border-radius: $card-border-radius;
      margin: 1rem 1%;
      text-align: center;
      section {
        font-weight: bold;
        font-size: 1.6rem;
        padding: 1rem 0;
        border-bottom: 1px solid #999;
      }
      img {
        padding: 1rem;
        width: 50%;
      }
      p {
        padding: 0 2vw;
        margin: 0;
      }
      a {
        display: block;
        background-color: $nav-background;
        color: white;
        padding: 1rem 0;
        margin: 1rem 2vw;
        border-radius: $card-border-radius;
        text-decoration: none;
      }
      a:hover {
        background-color: lighten($nav-background, 10%);
      }
    }
    .card:hover {
      img {
        animation: sidle 1s infinite;
      }
    }
  }
}

/*----------- FOOTER --------------*/

#footerWrapper {
  background-color: $nav-background;
}
footer {
  padding: 0.5rem 2vw;
  text-align: center;
  color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/// ANIMATIONS

@keyframes sidle {
  0% {
    transform: rotate(-5deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
