/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

/*----------- HEADER --------------*/

#headerWrapper {
  background-image: url("../images/repeating-bg.jpg");
  background-color: #ddd;
  z-index: 1;
}

header {
  background-image: url("../images/bg-small-350.jpg");
  color: darken(gray, 40%);
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 0.5rem 2%;
}
header h1 {
  margin: 0;
}
header h2 {
  margin: 0;
  font-weight: normal;
}

/*----------- NAVIGATION --------------*/

#navWrapper {
  background-color: #89b9ea;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  float: left;
  width: 25%;
}
nav ul li a {
  display: block;
  background-color: darken(#89b9ea, 10%);
  color: #eee;
  border-left: 1px solid black;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
nav ul li:first-child a {
  border-left: none;
}
nav ul li.active a {
  background-color: darken(#89b9ea, 25%);
  color: #fff;
}
nav ul li a:hover {
  background-color: #eee;
  color: #333;
}

/*----------- MAIN --------------*/

#mainWrapper {
  background-color: lightgrey;
}

iframe {
  width: 100%;
}

main {
  background-color: white;
  padding: 0 2%;
  min-height: 10rem;
  padding-bottom: 1rem;

  h1 {
    margin: 0;
    padding-top: 1rem;
  }

  figure {
    margin: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  figcaption {
    text-align: center;
    font-size: 0.8rem;
  }
}

/*----------- FOOTER --------------*/

#footerWrapper {
  background-color: #89b9ea;
}
footer {
  padding: 0.5rem 2%;
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/// ANIMATIONS

.deer,
.kangaroo {
  width: 80px;
  position: relative;
}

.deer {
  animation-name: deer;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  transform: rotateY(180deg);
}

@keyframes deer {
  0% {
    transform: translate(0, 0) rotate(-5deg) rotateY(180deg);
  }

  49% {
    transform: translate(200px, 0) rotate(-1deg) rotateY(180deg);
  }

  50% {
    transform: translate(200px, 0) rotate(5deg) rotateY(0);
  }

  100% {
    transform: translate(0, 0) rotate(-1deg) rotateY(0);
  }
}

.kangaroo {
  width: 120px;
  animation-name: kangaroo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform: translateX(400px);
}

@keyframes kangaroo {
  0% {
    transform: translateX(400px);
  }

  5% {
    transform: translate(380px, -20px) rotate(10deg);
  }

  10% {
    transform: translate(360px, 0) rotate(-10deg);
  }

  15% {
    transform: translate(340px, -20px) rotate(10deg);
  }

  20% {
    transform: translate(320px, 0) rotate(-10deg);
  }

  25% {
    transform: translate(300px, -20px) rotate(10deg);
  }

  30% {
    transform: translate(280px, 0) rotate(-10deg);
  }

  35% {
    transform: translate(260px, -20px) rotate(10deg);
  }

  40% {
    transform: translate(240px, 0) rotate(-10deg);
  }

  45% {
    transform: translate(220px, -20px) rotate(10deg);
  }

  50% {
    transform: translate(240px, 0) rotate(-10deg) rotateY(180deg);
  }

  65% {
    transform: translate(280px, 0) rotate(0) rotateY(180deg);
  }

  70% {
    transform: translate(300px, 0) rotate(-10deg) rotateY(180deg);
  }
  75% {
    transform: translate(320px, 0) rotate(10deg) rotateY(180deg);
  }
  80% {
    transform: translate(340px, 0) rotate(-10deg) rotateY(180deg);
  }
  90% {
    transform: translate(360px, 0) rotate(10deg) rotateY(180deg);
  }
  95% {
    transform: translate(380px, 0) rotate(-10deg) rotateY(180deg);
  }
  100% {
    transform: translate(400px, 0) rotate(0) rotateY(0);
  }
}
