/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Merriweather", serif;
}

/*----------- HEADER --------------*/
header {
  padding: 0.5rem 2%;
  background-color: $header-color;
}
header h1 {
  margin: 0;
}
header h2 {
  margin: 0;
  font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: $primary-color;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  float: left;
  width: 25%;
}
nav ul li a {
  display: block;
  background-color: darken($primary-color, 10%);
  color: #eee;
  border-left: 1px solid $header-color;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
nav ul li:first-child a {
  border-left: none;
}

nav ul li a:hover {
  background-color: darken($primary-color, 20%);
  color: #333;
}
nav ul li.active a {
  background-color: darken($primary-color, 30%);
  color: #fff;
}
/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 10rem;
}

#containerDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  div {
    border: 2px solid black;
    width: 10rem;
    margin: 1rem 0.5rem;
    text-align: center;
  }
}

/*----------- FOOTER --------------*/
footer {
  background-color: $primary-color;
  padding: 0.5rem 2%;
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
