/*----------- BODY --------------*/

div#pageWrapper {
  max-width: 64rem;
  margin: auto;
  grid-template-areas:
    "header"
    "navigation"
    "content"
    "footer";

  grid-template-columns: auto;
}

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/
nav ul li {
  flex-basis: auto;
  a {
    padding: 0.6rem 1rem;
  }
}

/*----------- MAIN --------------*/

main {
  figure {
    width: 25%;
    float: right;
  }

  figure.left {
    float: left;
  }
}

/*----------- FOOTER --------------*/
