/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div#pageWrapper {
  font-family: "Texturina", serif;
  display: grid;
  grid-template-areas:
    "hamburger"
    "header"
    "content"
    "footer"
    "navigation";
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
  grid-area: header;
  padding: 0.5rem 2%;
  background-color: $primaryColor;
  img {
    width: 150px;
  }
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
    font-weight: normal;
  }
}

/*----------- NAVIGATION --------------*/
a.myjump {
  display: block;
  width: 60px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.7rem;
  padding: 0.4rem;
  text-decoration: none;
  padding-left: 2%;
}

nav {
  grid-area: navigation;
  background-color: darken($accentColor, 5%);

  height: 100vh;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
nav ul li {
  flex-basis: 100%;
}
nav ul li a {
  display: block;
  background-color: darken($accentColor, 5%);
  color: $primaryColor;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
nav ul li.active a {
  background-color: darken($accentBlue, 5%);
  color: $primaryColor;
}
nav ul li a:hover {
  background-color: $accentBlue;
  color: #000;
}

/*----------- HAMBURGER --------------*/
div#hamburger {
  grid-area: hamburger;
  background-color: darken($accentColor, 5%);
}

/*----------- MAIN --------------*/
main {
  grid-area: content;
  padding: 0 2%;
  min-height: 10rem;
  background-color: #fff;
  h1 {
    margin: 0;
    padding: 1rem 0 0 0;
  }
  p {
    margin: 0;
    padding: 0.5rem 0;
    line-height: 1.6;
  }
}

figure {
  margin: 0.5rem;
  width: 100%;
  img {
    width: 100%;
  }
}
figcaption {
  text-align: center;
  font-size: 0.8rem;
}

/*----------- FOOTER --------------*/
footer {
  grid-area: footer;
  background-color: $primaryColor;
  color: $accentColor;
  padding: 0.5rem 2%;
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
