.header-container,
nav,
main,
footer {
  max-width: 75rem;
  margin: auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

main {
  @for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .large-#{$i} {
      flex-basis: $w;
    }
  } // end loop
}

/*----------- FOOTER --------------*/
