/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

nav ul li {
  width: auto;
}
nav ul li:first-child a {
  border-left: 1px solid $primary-color;
}
nav ul li:last-child a {
  border-right: 1px solid $primary-color;
}
nav ul li a {
  padding: 0.5rem 1rem;
}

/*----------- MAIN --------------*/

main {
  .medium-0 {
    flex-basis: 0;
  }
  @for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .medium-#{$i} {
      flex-basis: $w;
    }
  } // end loop
}

/*----------- FOOTER --------------*/
